/* import custom fonts */
@font-face {
  font-family: 'Jaapokki';
  src: url('fonts/Jaapokki-Regular.otf'), url('/fonts/Jaapokki-Regular.otf');
}
@font-face {
  font-family: 'LemonMilk';
  src: url('fonts/LemonMilkbold.otf'), url('/fonts/LemonMilkbold.otf');
}
@font-face {
  font-family: 'Metrophobic';
  src: url('fonts/Metrophobic-Regular.ttf'), url('/fonts/Metrophobic-Regular.ttf');
}

body {
  font-family: Arvo;
}

.heading {
  display: block;
  color: white;
  background-color: #fc4d45;
  font-family: Jaapokki;
  text-align:center;
  width: auto;
  margin: 4px;
  padding: 5px;
}

.big {
  display: block;
  color: white;
  font-family: Jaapokki;
  text-decoration: underline;
  text-align:center;
  width: auto;
  margin: 4px;
  padding: 5px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-gap: 5px;
}
.input {
  background-color: #ff9340;
  padding: 5px;
  font-size: 12px;
}
.other {
  align-content: center;
}
.centerme {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.canvas-wrapper {
  background-color: darkgrey;
  width: auto;
  height: 100%;
}
.button {
  border: 1px solid #383838;
  background-color: #383838;
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
.button:hover {
  border: 1px solid white;
  background-color: white;
  color: #383838;
}
.bad-numbers {
  display: inline-block;
  color: black;
  background-color: #8a8a8a;
  border-style: solid;
  text-align: center;
  font-family: LemonMilk;
  padding: 0px 15px;
}

.good-numbers {
  display: inline-block;
  color: black;
  background-color: #8a8a8a;
  border-style: solid;
  text-align: center;
  font-family: LemonMilk;
  padding: 0px 22px;
}

h3#bad-title {
  color: #be2626;
}

h3#good-title {
  color: #45eb4a;
}

h2#output-field {
  color: white;
  font-family: Arvo;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

input[type=text] { /*how does it know which input I'm referring to, does it not require an ID? */
  width: 75%;
}
input[type=submit] {
  width: 20%;
}

canvas {
  width: inherit;
  height: inherit;
}
